.rock{
    -fx-background-image: url("../images/rockorange.png");
    -fx-background-size: 100% 100%;
    -fx-background-color: Transparent;
    -fx-border-color: #FFAE42;
    -fx-border-width: 3;
}

.rock:hover {
    -fx-background-color: #FFAE42;
    -fx-background-image: url("../images/rockblack.png");
}