.scissors{
    -fx-background-image: url("../images/scissorsorange.png");
    -fx-background-size: 100% 100%;
    -fx-background-color: Transparent;
    -fx-border-color: #FFAE42;
    -fx-border-width: 3;
}

.scissors:hover {
    -fx-background-color: #FFAE42;
    -fx-background-image: url("../images/scissorsblack.png");
}